PassGatewayPlugin/wsdl/passports.wsdl

<?xml version="1.0" encoding="utf-8"?>

<!--  $Id: passports.wsdl,v 1.6 2004/02/04 16:01:58 dgardner Exp $  -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
             xmlns:xs="http://www.w3.org/2001/XMLSchema" 
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
             xmlns:xsd1="http://peoc3t.us.army.mil/PASS" 
             xmlns:tns="http://peoc3t.us.army.mil/PASS/ports" 
             targetNamespace="http://peoc3t.us.army.mil/PASS/ports">

    <documentation>
      This file contains the schema and port information that is common to the PASS
       Service and PASS Subscriber.  
    </documentation>

    <import namespace="http://peoc3t.us.army.mil/PASS" location="pass.xsd" />


    <!-- ================== messages =========================== -->

    <message name="subscribeRequest">
        <part element="xsd1:subscribe" name="parameters" />
    </message>
    <message name="subscribeResponse">
        <part element="xsd1:status" name="result" />
    </message>


    <message name="retractItemRequest">
        <part element="xsd1:retract_item" name="parameters" />
    </message>
    <message name="retractItemResponse">
        <part element="xsd1:status" name="result" />
    </message>


    <message name="retractTopicRequest">
        <part element="xsd1:retract_topic" name="parameters" />
    </message>
    <message name="retractTopicResponse">
        <part element="xsd1:status" name="result" />
    </message>


    <message name="unsubscribeRequest">
        <part element="xsd1:unsubscribe" name="parameters" />
    </message>
    <message name="unsubscribeResponse">
        <part element="xsd1:status" name="result" />
    </message>


    <message name="publishRequest">
        <part element="xsd1:publish" name="parameters" />
    </message>
    <message name="publishResponse">
        <part element="xsd1:status" name="result" />
    </message>


    <message name="createTopicRequest">
        <part element="xsd1:create_topic" name="parameters" />
    </message>
    <message name="createTopicResponse">
        <part element="xsd1:status" name="result" />
    </message>


    <message name="syncRequest">
        <part element="xsd1:sync" name="parameters" />
    </message>
    <message name="syncResponse">
        <part element="xsd1:sync_response" name="result" />
    </message>



    <message name="passFault">
        <part element="xsd1:pass_fault" name="result" />
    </message>




    <!-- ================== port type =========================== -->


    <portType name="PASSPortType">

        <operation name="subscribe">
            <input message="tns:subscribeRequest" />
            <output message="tns:subscribeResponse" />
            <fault name="subscribeFault"  message="tns:passFault" />
        </operation>

        <operation name="retract_item">
            <input message="tns:retractItemRequest"/>
            <output message="tns:retractItemResponse" />
            <fault name="retractItemFault" message="tns:passFault" />
        </operation>

        <operation name="retract_topic">
            <input message="tns:retractTopicRequest" />
            <output message="tns:retractTopicResponse" />
            <fault name="retractTopicFault" message="tns:passFault" />
        </operation>

        <operation name="unsubscribe">
            <input message="tns:unsubscribeRequest" />
            <output message="tns:unsubscribeResponse" />
            <fault name="unsubscribeFault" message="tns:passFault" />
        </operation>

        <operation name="publish">
            <input message="tns:publishRequest" />
            <output message="tns:publishResponse" />
            <fault name="publishFault" message="tns:passFault" />
        </operation>

        <operation name="create_topic">
            <input message="tns:createTopicRequest" />
            <output message="tns:createTopicResponse" />
            <fault name="createTopicFault" message="tns:passFault" />
        </operation>

        <operation name="sync">
            <input message="tns:syncRequest" />
            <output message="tns:syncResponse" />
            <fault name="syncFault" message="tns:passFault" />
        </operation>

    </portType>




    <portType name="PASSSubscriberPortType">

        <operation name="publish">
            <input message="tns:publishRequest" />
            <output message="tns:publishResponse" />
            <fault name="publishFault" message="tns:passFault" />
        </operation>

        <operation name="retract_item">
            <input message="tns:retractItemRequest"/>
            <output message="tns:retractItemResponse" />
            <fault name="retractItemFault" message="tns:passFault" />
        </operation>

        <operation name="retract_topic">
            <input message="tns:retractTopicRequest" />
            <output message="tns:retractTopicResponse" />
            <fault name="retractTopicFault" message="tns:passFault" />
        </operation>

        <operation name="unsubscribe">
            <input message="tns:unsubscribeRequest" />
            <output message="tns:unsubscribeResponse" />
            <fault name="unsubscribeFault" message="tns:passFault" />
        </operation>

    </portType>





    <!-- ================== binding       =========================== -->

    <binding name="PASSPortBinding" type="tns:PASSPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="subscribe">
            <soap:operation style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="subscribeFault">
                <soap:fault use="literal"/>
            </fault>
        </operation>

        <operation name="retract_item">
            <soap:operation  style="document"/>
            <input >
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body  use="literal"/>
            </output>
            <fault name="retractItemFault">
                <soap:fault use="literal"/>
            </fault>
        </operation>


        <operation name="retract_topic">
            <soap:operation  style="document"/>
            <input>
                <soap:body  use="literal"/>
            </input>
            <output>
                <soap:body  use="literal"/>
            </output>
            <fault name="retractTopicFault" >
                <soap:fault use="literal"/>
            </fault>
        </operation>

        <operation name="unsubscribe">
            <soap:operation  style="document"/>
            <input>
                <soap:body  use="literal"/>
            </input>
            <output>
                <soap:body  use="literal"/>
            </output>
            <fault name="unsubscribeFault" >
                <soap:fault use="literal"/>
            </fault>
        </operation>

        <operation name="publish">
            <soap:operation  style="document"/>
            <input>
                <soap:body  use="literal"/>
            </input>
            <output>
                <soap:body  use="literal"/>
            </output>
            <fault name="publishFault" >
                <soap:fault use="literal"/>
            </fault>
        </operation>

        <operation name="create_topic">
            <soap:operation  style="document"/>
            <input>
                <soap:body  use="literal"/>
            </input>
            <output>
                <soap:body  use="literal"/>
            </output>
            <fault name="createTopicFault" >
                <soap:fault use="literal"/>
            </fault>
        </operation>

        <operation name="sync">
            <soap:operation  style="document"/>
            <input>
                <soap:body  use="literal"/>
            </input>
            <output>
                <soap:body  use="literal"/>
            </output>
            <fault name="syncFault" >
                <soap:fault use="literal"/>
            </fault>
        </operation>

    </binding>



    <binding name="PASSSubscriberPortBinding" type="tns:PASSSubscriberPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="publish">
            <soap:operation  style="document"/>
            <input>
                <soap:body  use="literal"/>
            </input>
            <output>
                <soap:body  use="literal"/>
            </output>
            <fault name="publishFault" >
                <soap:fault use="literal"/>
            </fault>
        </operation>


        <!-- called when an item in topic that is subscribed to is retracted -->
        <operation name="retract_item">
            <soap:operation  style="document"/>
            <input >
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body  use="literal"/>
            </output>
            <fault name="retractItemFault">
                <soap:fault use="literal"/>
            </fault>
        </operation>


        <!-- called when a topic that is subscribed to is retracted -->
        <operation name="retract_topic">
            <soap:operation  style="document"/>
            <input>
                <soap:body  use="literal"/>
            </input>
            <output>
                <soap:body  use="literal"/>
            </output>
            <fault name="retractTopicFault" >
                <soap:fault use="literal"/>
            </fault>
        </operation>


        <!-- called when a subscription expires -->
        <operation name="unsubscribe">
            <soap:operation  style="document"/>
            <input>
                <soap:body  use="literal"/>
            </input>
            <output>
                <soap:body  use="literal"/>
            </output>
            <fault name="unsubscribeFault" >
                <soap:fault use="literal"/>
            </fault>
        </operation>

    </binding>


</definitions>
